@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    height: 100vh;
}

#home-logo {
    font-family: 'Bangers', 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    /* text-shadow: 2px 2px white; */
    color: red;
    font-size: xx-large;
}

/* .background-img1 {
    background: url(/public/marvel_display_img2.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.9;
} */

.background-gradient {
    background-image: linear-gradient(to bottom,white, red, rgb(131, 12, 12) , black);
    height: 100%;
}

.card {
    margin: 15px;
    padding: 0;
    box-shadow: 5px 5px 10px rgb(48, 47, 47);
}

.card img {
    object-fit: cover;
    height: 100%;
    margin: 0 !important;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comic-input {
    background-color: #212529;
}

.comic-container {
    /* position: relative; */
    /* min-height: 100vh; */
    padding-bottom: 50px;
}

footer {
    background-color: #212529;
    color: white;
    position: relative;
    /* min-height: 35vh; */
    height: 20px;
    bottom: 0;
    width: 100%;
}

form > div {
    margin-bottom: 15px;
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#home-logo:hover {
    color: white;
}

.hero-image {
    z-index: -1;
    position: fixed;
    opacity: 0.4;
}

.hero-image {
    position: relative;
    display: inline-block;
}

.page-head {
    font-family: 'Bangers', 'Courier New', Courier, monospace;
}

#shop {
    height: 50px;
    width: 50px;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
}

.hero-image {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hero-image {
    opacity: 1;
}

.navbar {
    background-color: #212529;
    font-family: 'Bangers', 'Courier New', Courier, monospace;
}

.navbar-nav .nav-link {
    color: white;
}

.title {
    font-family: 'Bangers', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(10vw + 10vh + 2vmin);
    text-align: center;
    color: white;
    text-shadow: 5px 5px rgb(48, 47, 47)
}

#login {
    display: flex;
    justify-content: end;
}

.gradient-overlay {
    position: relative; /* Set the parent element to relative position */
    display: inline-block; /* Set the display property to inline-block to align the image and overlay */
}
  
.gradient-overlay:after {
    content: ""; /* Add an empty content to create a pseudo-element */
    position: absolute; /* Set the position to absolute to position the pseudo-element relative to the parent */
    top: 0;
    right: 0;
    bottom: 50px;
    left: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Set the background to a linear gradient that fades from transparent to a semi-transparent black color */
}

#log_in {
    color:white;
    background-color: #212529;
}

/* body {
    background-image: {backgroundImg};
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
} */
  